*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/tmp
spec/version_tmp
spec/application_sample/db/test.sqlite3
spec/application_sample/log
tmp